/* ========== Наши особенности ========== */


.section-features {
  // background-color: #E5E5E5;
  padding-bottom: 94px;
  
    .conteiner {
    display: flex;
    }
}

.features-list {
display: flex;
flex-wrap: wrap;
margin: -15px;
}

.features-list-item {
width: calc(100% / 4);
padding: 15px;
}

// .features-list-item-icon {
// position: relative;
// width: 100%;
// height: 120px;
// border-radius: 4px;
// background-color: #F5F4FA;
// margin-bottom: 30px;
// padding: 15px;
// }

// .features-list-item-icon::before {
// content: "";  
// position: absolute;
// left: 0;
// right: 0;
// bottom: 0;
// top: 0;
// } 

// .antenna {
//   background-image: url(../images/our_features/antenna.svg);
// }

// .clock {
//   background-image: url(../images/our_features/.clock.svg);
//   }

// .diagram {
//   background-image: url(../images/our_features/.diagram.svg);
// }

// .astronaut {
//   background-image: url(../images/our_features/.astronaut.svg);
// }